<!-- Modal Structure -->
<div id="help" class="modal">
    <div class="modal-content container">
        <div class="row">
            <div class col s8>
                <h4>Help Page</h4>
                <p>Click the "Add Fill-up" button below to add a recent fill up</p>
                <p>To set your destinations used in calculating the best gas station for you, click "Frequent Destinations" to manage your destinations</p>
                <p>For settings such as how much you value money vs. time, click "Preferences".</p>
                <p>The "Tips and More Info" page contains tips and tricks recommended for you to get maximize your automobile experience</p>
                <p>The waypoint on the map below marks your recommended gas station, while the star represents your current location.</p>


            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" id="modal-agree" class="modal-action modal-close waves-effect waves-light orange btn-flat close-sidebar">Back</a>
    </div>
</div>