<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster">
<div class="navbar-fixed">
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><div style="font-family: 'Lobster', serif;">Car Smart</div></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/profile">Frequent Destinations</a></li>
            <li><a class="modal-trigger-regular" href="#preferences">Preferences</a></li>
            <li><a href="/tipshelp">Tips and More Info</a></li>
            <li><a href="/maintenance">Maintenance Logs</a></li>
            <!--<li><a href="/placeholder">Log Out</a></li>-->
            <li><a class="modal-trigger-regular" href="#help">?</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="/profile">Frequent Destinations</a></li>
            <li><a class="modal-trigger-sidebar" href="#preferences">Preferences</a></li>
            <li><a href="/tipshelp">Tips and More Info</a></li>
            <li><a href="/maintenance">Maintenance Logs</a></li>
            <!--<li><a href="/placeholder">Log Out</a></li>-->
            <li><a class="modal-trigger-regular" href="#help">?</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
</div>

{{> helpModal}}
{{> preferencesModal}}